html,
body {
    height: 100%;
    margin: 0;
}

.gojo {
    background-image: url(images/gojo.jpg);
    min-height: 100%;
}

.g_text {
    text-align: center;
    top: 60%;
    width: 100%;
    position: absolute;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 8px;
}

.g_bg {
    color: rgb(0, 143, 200);
    background-color: rgb(240, 249, 253);
    border: 4px solid rgb(0, 143, 200);
    border-radius: 10px;
    padding: 10px 15px;
}

.section_gojo {
    text-align: center;
    padding: 10px 15px;
    background-color: rgb(240, 249, 253);
    color: rgb(32, 44, 50);
    font-weight: 600;
}

.sukuna {
    background-image: url(images/sukuna.jpg);
    min-height: 500px;
}

.s_text {
    text-align: center;
    top: 50%;
    width: 100%;
    position: absolute;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 8px;
}

.s_bg {
    color: rgb(24, 26, 27);
    background-color: rgb(248, 123, 40);
    border: 4px solid rgb(16, 16, 16);
    border-radius: 10px;
    padding: 10px 15px;
}

.section_sukuna {
    text-align: center;
    padding: 10px 15px;
    background-color: rgb(27, 27, 28);
    color: rgb(234, 137, 63);
    font-weight: 400;
}

.toji {
    background-image: url(images/toji.jpg);
    min-height: 100%;
}

.t_text {
    text-align: center;
    top: 50%;
    width: 100%;
    position: absolute;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 8px;
}

.t_bg {
    color: rgb(241, 236, 249);
    background-color: rgb(147, 74, 235);
    border: 4px solid rgb(16, 16, 16);
    border-radius: 10px;
    padding: 15px 20px;
}

.section_toji {
    text-align: center;
    padding: 10px 15px;
    background-color: rgb(227, 222, 240);
    color: rgb(40, 36, 122);
    font-weight: 600;
}

.yuta {
    background-image: url(images/yuta.jpg);
    min-height: 75%;
}

.y_text {
    text-align: center;
    top: 50%;
    width: 100%;
    position: absolute;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 8px;
}

.y_bg {
    color: rgb(11, 11, 11);
    background-color: rgb(229, 23, 88);
    border: 4px solid rgb(16, 16, 16);
    border-radius: 10px;
    padding: 10px 15px;
}

.section_yuta {
    text-align: center;
    padding: 10px 15px;
    background-color: rgb(19, 18, 18);
    color: rgb(255, 177, 211);
    font-weight: 600;
}

.gojo,
.sukuna,
.toji,
.yuta {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}